*{
    margin: 0px;
    padding: 0px;
}
body{
	font-size:120%;
	background:#F8F8FF;
}
.header{
    width: 30%;
    height: 50px;
    color: rgb(4, 94, 4);
    background-color: rgb(16, 236, 163);
    border: 2px solid brown;
    border-bottom: none;
    border-radius: 10px 10px 0px 0px;
    text-align: center;
    padding:15px;
    margin: 70px 470px;
}
form{
    width: 30%;
    margin: -70px 470px;
    padding: 15px;
    background-color: blanchedalmond;
    border: 2px solid brown;
    border-radius: 0px 0px 10px 10px;
}
.input-text{
    height: 20px;
    width:93%;
    padding: 5px 10px;
    font-size:16px;
    border-radius:5px;
    border:1px solid gray;
    margin: 10px;
}
.btn{
    padding: 10px;
    font-size:15px;
    color:rgb(4, 94, 4);
	background:rgb(16, 236, 163);
    border:none;
    border: 1px solid brown;
	border-radius: 5px;
}
.error{
    width: 93%;
    height: 20px;
    padding: 10px;
    margin: 5px;
    background-color: rgb(255, 138, 138);
    color: white;
    border: 2px solid green;
    border-radius: 10px 10px 10px 10px;
    text-align: center;
}

/*
rgb(16, 236, 163)
rgb(4, 94, 4)